#picture {
    display: flex;
    justify-content: center;
}

.contents {
    position: relative;

    width: 614px;
    height: 700px;
    border: 1px solid rgba(0, 0, 0, 0.09);

    margin-bottom: 60px;
    /*다른 contents들이 밀려야하므로 사이에 여백주기*/
    background: #D9D9D9;
}



.contents .top {

    position: absolute;
    Top: 30px;


    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 10px 10px;


}


.contents .top .profile_img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    /*원형태*/

    overflow: hidden;
    /*자식이 크기가 넘치지 않도록 함*/
    margin-right: 8px;
}

.contents .top .profile_img .user_name {
    display: flex;
    /*가로배치*/
    float: left;
    margin-left: 5%;
    /*height: 37px;*/

    /*justify-content: center;*/
    flex-shrink: 0;
    flex-direction: column;

}


.m_text {
    font-size: 16px;
    font-weight: bold;
}

.s_text {
    color: #8C8C8C;
    font-size: 12.8px;
    font-weight: 500;
}

/*img_section*/
.contents .img_section {

    overflow: hidden;

    /*  border-radius: 20px; */
    /*이미지 변환을 위한 사이드 굴절 추가*/
}

.contents .img_section .img {

    /*  width: 820px;
    height: 519px; */
    border-radius: 20px 20px;
    width: 100%;
}

/*댓글*/
.contents .comment_container {
    display: flex;
    /*가로 배치*/
    align-items: center;

}

.contents .comment_container .comment {

    display: flex;
    /*가로배치*/
    justify-content: flex-start;
    float: left;

    font-size: 15px;
    flex-direction: column;
    text-align: left;
    padding: 10px;

}

/*구매하기*/
.contents .comment_container .purchase {
    height: 70px;
    margin-left: auto;
    padding: 10px;
    justify-content: flex-start;
    /*안에 content 연속으로 좌부터 배치*/

    align-items: center;

    /*    display: inline-block;
    flex-direction: row;
   ;
    justify-content: flex-start;
 */
}

.contents .comment_container .purchase .my-button {

    width: 110px;
    height: 45px;
    background-color: #00A884;
    /* 버튼 배경색 */
    border: none;
    /* 테두리 없음 */


    margin: 4px 2px;
    border-radius: 8px;
    /* 모서리 둥글게 */

    font-size: 14px;
    line-height: 20px;
    /* 글자 크기 */
    color: white;
    /* 글자색 */
    padding: 10px 20px;
    /* 안쪽 여백 */
    text-decoration: none;
    text-align: center;

}


.my-button:hover {
    cursor: pointer;
    opacity: 0.6;
    /*커서 갖다 대면 투명도변화*/
    /*box-shadow: rgba(59,113,202,0.3);*/

}


/*좋아요, 구매자 수 텍스트 class*/
.likes_m_text {
    width: 110px;
    display: flex;
    /* 텍스트와 이미지를 가로로 정렬 */

    align-items: center;
    /* 세로 가운데 정렬 */
    /*justify-self: space-between;*/


}

.likes_m_text .img {

    width: 10px;
    /* 아이콘 크기 조절 */
    height: 10px;
    /*  margin-right: 2px; */
    /* 아이콘과 텍스트 사이 간격 조절 */

    object-fit: cover;


}


.likes_m_text .count {

    font-size: 10px;
    /* 텍스트 크기 조절 */

    overflow: hidden;
    white-space: nowrap;
    /*연속 공백을 하나로 합침. 줄 바꿈은 <br> 요소에서만 일어납니다.*/
    /*text-overflow: ellipsis;*/
    letter-spacing: -0.5px;

}