#main_container {

    display: flex;
    justify-content: center;
    /*x축 가운데 정렬*/
}

#main_container .inner {
    width: 935px;
}


.contents {
    width: 614px;
    height: 700px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    /*테두리를 둥글게 */
    margin-bottom: 60px;
    /*다른 contents들이 밀려야하므로 사이에 여백주기*/
    background: white;

  
}


.contents .top {


    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 10px 20px;
}


.contents .top .profile_img {
    /*   width: 56px;
    height: 56px; */
    border-radius: 50%;
    /*원형태*/
    overflow: hidden;
    /*자식이 크기가 넘치지 않도록 함*/
    margin-right: 8px;
}

.contents .top .profile_img .user_name {
    display: flex;
    /*가로배치*/
    float: left;
    margin-left: 5%;
    /*height: 37px;*/

    /*justify-content: center;*/
    flex-shrink: 0;
    flex-direction: column;

}


.m_text {
    font-size: 16px;
    font-weight: bold;
}

.s_text {
    color: #8C8C8C;
    font-size: 12.8px;
    font-weight: 500;
}

/*img_section*/
.contents .img_section {


    overflow: hidden;
}

.contents .img_section .img {

    /*  width: 820px;
    height: 519px; */
    border-radius: 20px 20px 0px 25px;
    width: 100%;
}

/*img_section과 댓글 사이 정렬*/
/* .contents .bottom_icons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

} */

/*댓글*/
.contents .comment_container {
    display: flex;
    /*가로 배치*/
    justify-content: flex-start;

}

.contents .comment_container .comment {

    display: flex;
    /*가로배치*/
    justify-content: space-between;
    float: left;

    font-size: 18px;
    flex-direction: column;
    text-align: left;
    padding: 10px;

}

/*구매하기*/
.contents .comment_container .purchase {
    margin-left: auto;
    padding: 10px;


    /*    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
 */
}

.contents .comment_container .purchase .my-button {

    width: 104px;
    height: 50px;
    background-color: #00A884;
    /* 버튼 배경색 */
    border: none;
    /* 테두리 없음 */

    margin: 4px 2px;
    border-radius: 8px;
    /* 모서리 둥글게 */

    font-size: 16px;
    /* 글자 크기 */
    color: white;
    /* 글자색 */
    padding: 10px 20px;
    /* 안쪽 여백 */
    text-decoration: none;
    text-align: center;




}


.contents .comment_container .purchase .count {

    width: 100px;
    height: 56px;
    font-weight: 500;
    font-size: 9px;
    color: black;

    /*    overflow: hidden; */
}

.my-button:hover {
    cursor: pointer;
    opacity: 0.6;
    /*커서 갖다 대면 투명도변화*/
    /*box-shadow: rgba(59,113,202,0.3);*/

}


/*좋아요, 구매자 수 텍스트 class*/
.likes_m_text {
    display: flex;
    /* 텍스트와 이미지를 가로로 정렬 */

    align-items: center;
    /* 세로 가운데 정렬 */
    /*justify-self: space-between;*/


}

.likes_m_text .img {

    width: 10px;
    /* 아이콘 크기 조절 */
    height: 10px;
    /*  margin-right: 2px; */
    /* 아이콘과 텍스트 사이 간격 조절 */
    
    object-fit: cover;


}


.likes_m_text .count {

    font-size: 12px;
    /* 텍스트 크기 조절 */

    overflow: hidden;
    white-space: nowrap;
    /*연속 공백을 하나로 합침. 줄 바꿈은 <br> 요소에서만 일어납니다.*/
    /*text-overflow: ellipsis;*/
    letter-spacing: -1px;

}